#!pip install selenium

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

Connecting to web driver

In [2]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

Getting the URL through the driver

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Analyst")

In [5]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_job.send_keys('Bangalore')
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [6]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [8]:
job_titles=[]
for i in titles_tag[:10]:
    job_titles.append(i.text)

In [9]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [10]:
company_name=[]
for i in company_tags[:10]:
    company_name.append(i.text)

In [11]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [12]:
location=[]
for i in location_tags[:10]:
    location.append(i.text)

In [13]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [14]:
experience=[]
for i in experience_tags[:10]:
    experience.append(i.text)

In [15]:
print(len(job_titles),len(company_name),len(location),len(experience))

10 10 10 10

In [16]:
job_details=pd.DataFrame({})
job_details['titles']=job_titles
job_details['company']=company_name
job_details['location']=location
job_details['experience']=experience
job_details

,titles,company,location,experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
3,Data Analyst,SA Tech Software (I) Pvt. Ltd.,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",1-3 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,Bangalore/Bengaluru,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Innovsource Services Private Limited,Bangalore/Bengaluru,2-7 Yrs
6,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,Bangalore/Bengaluru,4-7 Yrs
7,Senior/Regular Business Analyst / Data Analyst,Luxoft,Bangalore/Bengaluru,3-6 Yrs
8,SW Technologist I- Data Analyst,Philips India Limited,Bangalore/Bengaluru,5-10 Yrs
9,Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,1-3 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [17]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [18]:
driver.get('https://www.naukri.com/')

In [19]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Scientist")

In [20]:
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [21]:
search_loc = driver.find_element_by_xpath("//button[@class='btn']")
search_loc.click()

In [22]:
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [23]:
job_titles=[]
for i in titles_tag[:10]:
    job_titles.append(i.text)

In [24]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [25]:
company=[]
for i in company_tags[:10]:
    company.append(i.text)

In [26]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [27]:
location=[]
for i in location_tags[:10]:
    location.append(i.text)

In [28]:
jobdescription_tags = driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")

In [29]:
jobdesc=[]
for i in jobdescription_tags[:10]:
    jobdesc.append(i.text)

In [30]:
print(len(job_titles),len(company),len(location),len(jobdesc))

10 10 10 10

In [31]:
job_details=pd.DataFrame({})
job_details['titles']=job_titles
job_details['company']=company
job_details['location']=location
job_details['job_description']=jobdesc
job_details

,titles,company,location,job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Applications invited from all Freshers and exp...
1,Data Scientist,Wipro Limited,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Good statistical analysis skills for data pre-...
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...","High motivation, good work ethic and maturityM..."
3,Specialist I - Data Scientist,Philips India Limited,Bangalore/Bengaluru,Responsibilities and Key Result Areas Design a...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,modeling and business system design with exper...
5,Lead Data Scientist,Intel Technology India Pvt Ltd,Bangalore/Bengaluru,Experience in using data analysis techniques a...
6,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,Roles and Responsibilities Looking for 6+ yrs ...
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,Strong hands-on experience in implementing and...
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,Bangalore/Bengaluru,"Business & Team overview:Founded in 1987, Huaw..."
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Experience : 3+ Years

joddetaidesc_tag = driver.find_elements_by_xpath("//div[@class='dang-inner-html']//li")
joddetaidesc_tag[0:10]

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [32]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [33]:
driver.get('https://www.naukri.com/')

In [34]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.clear()
search_job.send_keys("Data Scientist")

In [35]:
search_loc = driver.find_element_by_xpath("//button[@class='btn']")
search_loc.click()

In [36]:
search_loc = driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span")
for i in search_loc:
    if i.text=="Delhi / NCR":
        i.click()
        break

In [37]:
search_salary_filter= driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span")
for i in search_salary_filter:
    if i.text=="3-6 Lakhs":
        i.click()
        break

In [38]:
titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [39]:
job_titles3=[]
for i in titles_tag[:10]:
    job_titles3.append(i.text)

In [40]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [41]:
location3=[]
for i in location_tags[:10]:
    location3.append(i.text)

In [42]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [43]:
company3=[]
for i in company_tags[:10]:
    company3.append(i.text)

In [44]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [45]:
experience3=[]
for i in experience_tags[:10]:
    experience3.append(i.text)

In [46]:
print(len(job_titles3),len(company3),len(location3),len(experience3))

10 10 10 10

In [47]:
filtered_job_details=pd.DataFrame({})
filtered_job_details['titles']=job_titles3
filtered_job_details['company']=company3
filtered_job_details['location']=location3
filtered_job_details['job_description']=experience3
filtered_job_details

,titles,company,location,job_description
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
3,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,"Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
5,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,3-5 Yrs
6,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
7,Data Scientist,Blitz Jobs,Noida,3-5 Yrs
8,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
9,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs

# Q4: Write a python program to scrap data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [48]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [49]:
driver.get('https://www.glassdoor.co.in/index.htm')

#### next step need to give userlogin and password as Glassdoor website is making it compulsory login throung id.
So that step excluded in script for avoiding exposure of password.

In [50]:
job_search=driver.find_element_by_id('sc.keyword')
job_search.clear()
job_search.send_keys("Data Scientist")

In [51]:
location_search=driver.find_element_by_id('sc.location')
#location_search=driver.find_element_by_xpath("//div[@class='input-wrapper css-q444d9']")
location_search.clear()
location_search.send_keys("Noida")

In [52]:
search_loc = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

search_jobclick = driver.find_element_by_xpath("//b[@class='ml-xsm']").click()

see_all = driver.find_element_by_xpath("//span[@class='seeText']").click()

In [53]:
company4_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")

In [54]:
company4=[]
for i in company4_tags[:10]:
    company4.append(i.text)
company4[:10]

['Wells Fargo',
 'Applied Materials Inc.',
 'MakeMyTrip',
 'Microsoft',
 'Sony India Software Centre Pvt Ltd',
 'VM3 Tech Solutions LLP',
 'Uber',
 'MasterCard',
 'Commvault',
 'ADCI HYD 13 SEZ']

In [55]:
no_of_days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [56]:
no_of_days4=[]
for i in no_of_days[:10]:
    no_of_days4.append(i.text)
no_of_days4[:10]

['23d', '9d', '24h', '14d', '10d', '12d', '8d', '25d', '24h', '24h']

In [57]:
rating4=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [58]:
ratings4=[]
for i in rating4[:10]:
    ratings4.append(i.text)
ratings4[:10]

['3.7', '4.0', '4.3', '4.4', '5.0', '4.3', '3.7', '4.3', '4.1', '4.3']

In [59]:
glassdoor_job_details=pd.DataFrame({})
glassdoor_job_details['Company']=company4
glassdoor_job_details['No.of Days of Post']=no_of_days4
glassdoor_job_details['Ratings']=ratings4
glassdoor_job_details

                              Company No.of Days of Post Ratings
0                         Wells Fargo                23d     3.7
1              Applied Materials Inc.                 9d     4.0
2                          MakeMyTrip                24h     4.3
3                           Microsoft                14d     4.4
4  Sony India Software Centre Pvt Ltd                10d     5.0
5              VM3 Tech Solutions LLP                12d     4.3
6                                Uber                 8d     3.7
7                          MasterCard                25d     4.3
8                           Commvault                24h     4.1
9                     ADCI HYD 13 SEZ                24h     4.3

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [73]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [74]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [75]:
job_search=driver.find_element_by_id('KeywordSearch')
job_search.send_keys("Data Scientist")

In [76]:
location_search=driver.find_element_by_id('LocationSearch')
location_search.clear()
location_search.send_keys("Noida")

In [77]:
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [78]:
company_tag5=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")

In [79]:
company5=[]
for i in company_tag5[:10]:
    company5.append(i.text)
company5[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [80]:
no_of_salaries_tag=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")

In [81]:
no_of_salaries=[]
for i in no_of_salaries_tag[:10]:
    no_of_salaries.append(i.text)
no_of_salaries[:10]

['17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries']

In [82]:
average_salary_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [83]:
average_salary=[]
for i in average_salary_tag[:10]:
    average_salary.append(i.text.replace("\n/"," "))
average_salary[:10]

['₹ 6,14,306 yr',
 '₹ 9,00,000 yr',
 '₹ 11,46,533 yr',
 '₹ 7,38,057 yr',
 '₹ 12,39,781 yr',
 '₹ 13,36,142 yr',
 '₹ 8,15,192 yr',
 '₹ 11,35,221 yr',
 '₹ 11,44,243 yr',
 '₹ 14,13,288 yr']

In [84]:
min_salary_tag=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[1]")

In [85]:
min_salary=[]
for i in min_salary_tag[:10]:
    min_salary.append(i.text.replace("\n/"," "))
min_salary[:10]

['₹343K',
 '₹586K',
 '₹577K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K']

In [86]:
max_salary_tag = driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[2]")

In [87]:
max_salary=[]
for i in max_salary_tag[:10]:
    max_salary.append(i.text.replace("\n/"," "))
max_salary[:10]

['₹1,250K',
 '₹2,730K',
 '₹2,213K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K']

In [88]:
glassdoor_salary_details=pd.DataFrame({})
glassdoor_salary_details['Company']=company5
glassdoor_salary_details['no_of_salaries']=no_of_salaries
glassdoor_salary_details['average_salary']=average_salary
glassdoor_salary_details['min_salary']=min_salary
glassdoor_salary_details['max_salary']=max_salary
glassdoor_salary_details

,Company,no_of_salaries,average_salary,min_salary,max_salary
0,Tata Consultancy Services,17 salaries,"₹ 6,14,306 yr",₹343K,"₹1,250K"
1,IBM,15 salaries,"₹ 9,00,000 yr",₹586K,"₹2,730K"
2,Accenture,14 salaries,"₹ 11,46,533 yr",₹577K,"₹2,213K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057 yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781 yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142 yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192 yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221 yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243 yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288 yr","₹1,014K","₹2,149K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [89]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [90]:
driver.get('https://www.flipkart.com/')

In [91]:
search_tag = driver.find_element_by_xpath("//div[@class='_1cmsER']/form/div/div/input")
search_tag.clear()
search_tag.send_keys("sunglasses")

In [92]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

page1:

In [93]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [94]:
brand=[]
for i in brand_tags:
    brand.append(i.text)

In [95]:
product_disc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [96]:
procuct_desc=[]
for i in product_disc_tags[:40]:
    procuct_desc.append(i.text)

In [97]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [98]:
price=[]
for i in price_tags[:40]:
    price.append(i.text)

In [99]:
offer_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [100]:
offer=[]
for i in offer_tags[:40]:
    offer.append(i.text)

In [101]:
product_details=pd.DataFrame({})
product_details['Brand']=brand
product_details['Prodoct Description']=procuct_desc
product_details['Price']=price
product_details['Offer']=offer
product_details

,Brand,Prodoct Description,Price,Offer
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
3,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
5,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
6,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹236,84% off
7,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹194,72% off
8,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
9,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
10,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,123",13% off
11,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
12,NuVew,UV Protection Aviator Sunglasses (58),₹215,72% off
13,Fastrack,UV Protection Wayfarer Sunglasses (57),₹559,30% off
14,Singco India,UV Protection Aviator Sunglasses (Free Size),₹339,71% off
15,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
16,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹259,82% off
17,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹449,77% off
19,hipe,"UV Protection, Mirrored Round Sunglasses (Free...",₹219,86% off
20,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
21,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
22,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
23,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹759,15% off
24,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹638,20% off
25,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
26,AweStuffs,UV Protection Retro Square Sunglasses (Free Size),₹403,59% off
27,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹711,64% off
28,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹265,79% off
29,Villain,Others Retro Square Sunglasses (Free Size),₹599,20% off
30,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
31,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
32,elegante,UV Protection Wrap-around Sunglasses (Free Size),₹499,66% off
33,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
34,hipe,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹199,80% off
35,Fastrack,UV Protection Wayfarer Sunglasses (56),₹759,15% off
36,Flizz,UV Protection Retro Square Sunglasses (Free Size),₹399,81% off
37,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
38,ROYAL SON,Mirrored Aviator Sunglasses (58),₹399,73% off
39,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹449,70% off

Page2:

In [102]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
URL=[]

In [103]:
import time

glasses=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

try:
    for i in glasses[1:5]:
        URL.append(i.get_attribute('href'))
        
except NoSuchElementException:
    for i in driver.find_elements_by_xpath("//a[@class='_1LKTO3']"):
        URL.append(i.get_attribute('href'))
        
time.sleep(3)

In [104]:
from selenium.common.exceptions import NoSuchElementException
brand=[]
product=[]
price=[]
offer=[]
for i in URL[0:3]:
    driver.get(i)
    time.sleep(3)
    try:
        brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for j in brand_tags:
            brand.append(j.text)
    except NoSuchElementException:
        brand.append('-------')

    
    try:
        product_disc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for k in product_disc_tags:
            product.append(k.text)
    except NoSuchElementException:
        product.append('-------')

    try:
        price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for l in price_tags:
            price.append(l.text)
    except NoSuchElementException:
        product.append('-------')
        
    try:
        offer_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for n in offer_tags:
            offer.append(n.text)
    except NoSuchElementException:
        product.append('-------')

In [105]:
product_sunglass=pd.DataFrame({})
product_sunglass['Brand']=brand[0:100]
product_sunglass['Product Description']=product[0:100]
product_sunglass['Price']=price[0:100]
product_sunglass['Offer']=offer[0:100]
product_sunglass
#pd.set_option('display.max_rows',None)

,Brand,Product Description,Price,Offer
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
3,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
...,...,...,...,...
95,PHENOMENAL,"UV Protection, Gradient Rectangular Sunglasses...",₹399,80% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹499,75% off
97,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (55),₹449,87% off
98,Wrogn,"UV Protection Wayfarer, Aviator Sunglasses (88)",₹875,70% off
99,LIZA ANGEL,UV Protection Round Sunglasses (50),₹49,83% off

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [106]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [107]:
driver.get('https://www.flipkart.com/')

In [108]:
search_tag = driver.find_element_by_xpath("//div[@class='_1cmsER']/form/div/div/input")
search_tag.clear()
search_tag.send_keys("sneakers")

In [109]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [110]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
URL=[]

In [111]:
import time

glasses=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

try:
    for i in glasses[1:5]:
        URL.append(i.get_attribute('href'))
        
except NoSuchElementException:
    for i in driver.find_elements_by_xpath("//a[@class='_1LKTO3']"):
        URL.append(i.get_attribute('href'))
        
time.sleep(3)

In [112]:
from selenium.common.exceptions import NoSuchElementException
brand=[]
product=[]
price=[]
offer=[]
for i in URL[0:3]:
    driver.get(i)
    time.sleep(3)
    try:
        brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for j in brand_tags:
            brand.append(j.text)
    except NoSuchElementException:
        brand.append('-------')

    
    try:
        product_disc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for k in product_disc_tags:
            product.append(k.text)
    except NoSuchElementException:
        product.append('-------')

    try:
        price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for l in price_tags:
            price.append(l.text)
    except NoSuchElementException:
        product.append('-------')
        
    try:
        offer_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for n in offer_tags:
            offer.append(n.text)
    except NoSuchElementException:
        product.append('-------')

In [115]:
len(brand),len(product),len(price),len(offer)

(120, 91, 120, 118)

In [116]:
product_sunglass=pd.DataFrame({})
product_sunglass['Brand']=brand[0:91]
product_sunglass['Product Description']=product[0:91]
product_sunglass['Price']=price[0:91]
product_sunglass['Offer']=offer[0:91]
product_sunglass
#pd.set_option('display.max_rows',None)

,Brand,Product Description,Price,Offer
0,DUCATI,Sneakers For Men,"₹1,199",67% off
1,Birde,Sneakers For Men,₹661,55% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,Robbie jones,Sneakers For Men,₹474,52% off
4,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
...,...,...,...,...
86,Aura,X-Ray 2 Square PACK Sneakers For Men,₹699,54% off
87,ADIDAS,Casual Sneakers Sneakers For Men,"₹1,499",67% off
88,PUMA,"casual , Partywear Sneakers Shoes For Men's an...","₹1,379",46% off
89,DUCATI,Sneakers For Men,"₹1,199",81% off
90,GUSTO,Men Sports Sneakers For Men,₹699,77% off

# Q9: Go to the link - https://www.myntra.com/shoes  Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [117]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [118]:
driver.get('https://www.myntra.com/shoes')

In [119]:
search_loc = driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")
for i in search_loc:
    if i.text=="Black":
        i.click()
        break

In [120]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [121]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [122]:
brand1=[]
description1=[]
price1=[]

In [123]:
URL=[]
for i in range(0,2):
    shoes=driver.find_elements_by_xpath("//li[@class='product-base']")
    for i in shoes:
        s=i.find_element_by_tag_name("a")
        URL.append(s.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[3]/a').click()
    time.sleep(3)

In [124]:
for i in URL:
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/h1[1]').text
        brand1.append(brand)
    except NoSuchElementException:
        brand1.append("Null")
    try:
        description=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/h1[2]').text
        description1.append(description)
    except NoSuchElementException:
        description1.append("Null")
    try:
        price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/p[1]/span[1]/strong').text
        price1.append(price)
    except NoSuchElementException:
        price1.append("Null")
    time.sleep(3)

In [125]:
Shoes1=pd.DataFrame({})
Shoes1['Brand']=brand1
Shoes1['Description']=description1
Shoes1['Price']=price1
Shoes1

        Brand                                        Description      Price
0        ALDO                      Aldo Men Black Solid Sneakers   Rs. 9999
1        Nike         Men Black KD13 EP Mid-Top Basketball Shoes  Rs. 12995
2        Nike         Men Black AIR ZOOM VOMERO 15 Running Shoes  Rs. 10796
3        Nike            Men Black JORDAN DELTA Basketball Shoes  Rs. 12495
4        ALDO                        Men Black Textured Sneakers   Rs. 7199
..        ...                                                ...        ...
95       Nike       Men Black & Grey REACT MILER 2 Running Shoes   Rs. 9770
96       ALDO                                Aldo Women Sneakers  Rs. 11999
97     Reebok  Men Black Woven Design Nano X1 Cross Training ...   Rs. 7499
98       Nike  Men Black NIKE REACT INFINITY RUN FK 2 Trainin...  Rs. 12320
99  Florsheim     Men Black & Brown Solid Leather Formal Loafers   Rs. 6995

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [126]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")

In [127]:
driver.get('https://www.amazon.in')

In [128]:
Title=[]
Ratings=[]
Price=[]

In [129]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys("laptops")
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
search_button.click()

In [130]:
filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [131]:
filter_button = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [132]:
titles = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [133]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    Price.append(i.text)

In [134]:
urls = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
URL=[]
for i in urls[:10]:
    URL.append(i.get_attribute('href'))
for url1 in URL:
    driver.get(url1)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class-'a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException  as e:
        Ratings.append("----")

In [135]:
product_laptop=pd.DataFrame({})
product_laptop['Title']=Title[0:10]
product_laptop['Price']=Price[0:10]
product_laptop['Ratings']=Ratings[0:10]

product_laptop

                                               Title   Price Ratings
0  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,493    ----
1  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  79,980    ----
2  Acer Swift 5 14" (35.56cms) Full HD IPS Displa...  91,999    ----
3  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  86,926    ----
4  (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...  44,999    ----
5  Mi Notebook Horizon Edition 14 Intel Core i5-1...  49,999    ----
6  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...  85,990    ----
7  Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...  69,990    ----
8  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...  97,990    ----
9  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  46,000    ----