In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')
time.sleep(3)
search_loc = driver.find_element_by_xpath("//a[@class='external text']/i").click()
search_loc1 = driver.find_element_by_xpath("//div[@class='searchresults mw-searchresults-has-iw']/p/i/a").click()
search_loc2 = driver.find_element_by_xpath("//span[@class='plainlinks']/a").click()
search_loc3 = driver.find_element_by_xpath("//ul[@class='mw-search-results']/li/div[1]/a").click()
driver.maximize_window()

In [3]:
rank = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
Rank=[]
for i in rank:
    if i.text is None:
        Rank.append("--")
    else:
        Rank.append(i.text.replace(".",""))

In [4]:
name = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
Name=[]
for i in name:
    if i.text is None:
        Name.append("--")
    else:
        Name.append(i.text.replace('"',""))

In [5]:
artist = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
Artist=[]
for i in artist:
    if i.text is None:
        Arist.append("--")
    else:
        Artist.append(i.text)

In [6]:
views = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
Views=[]
for i in views:
    if i.text is None:
        Views.append("--")
    else:
        Views.append(i.text)

In [7]:
date = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
Upload_date=[]
for i in date:
    if i.text is None:
        Upload_date.append("--")
    else:
        Upload_date.append(i.text)

In [8]:
Youtube=pd.DataFrame({})
Youtube['Rank']=Rank
Youtube['Video_name']=Name
Youtube['Artist']=Artist
Youtube['Upload_date']=Upload_date
Youtube['Views']=Views
Youtube

,Rank,Video_name,Artist,Upload_date,Views
0,1,Baby Shark Dance[22],Pinkfong Kids' Songs & Stories,"June 17, 2016",8.81
1,2,Despacito[24],Luis Fonsi,"January 12, 2017",7.40
2,3,Johny Johny Yes Papa[25],LooLoo Kids,"October 8, 2016",5.47
3,4,Shape of You[26],Ed Sheeran,"January 30, 2017",5.35
4,5,See You Again[27],Wiz Khalifa,"April 6, 2015",5.14
5,6,Masha and the Bear – Recipe for Disaster[30],Get Movies,"January 31, 2012",4.44
6,7,Uptown Funk[31],Mark Ronson,"November 19, 2014",4.20
7,8,Bath Song[32],Cocomelon – Nursery Rhymes,"May 2, 2018",4.16
8,9,Learning Colors – Colorful Eggs on a Farm[33],Miroshka TV,"February 27, 2018",4.16
9,10,Gangnam Style[34],Psy,"July 15, 2012",4.09
10,11,Phonics Song with Two Words[36],ChuChu TV,"March 6, 2014",3.93
11,12,Sugar[37],Maroon 5,"January 14, 2015",3.49
12,13,Sorry[38],Justin Bieber,"October 22, 2015",3.44
13,14,Dame Tu Cosita[39],El Chombo,"April 5, 2018",3.39
14,15,Roar[40],Katy Perry,"September 5, 2013",3.37
15,16,Counting Stars[41],OneRepublic,"May 31, 2013",3.32
16,17,Thinking Out Loud[42],Ed Sheeran,"October 7, 2014",3.27
17,18,Dark Horse[43],Katy Perry,"February 20, 2014",3.09
18,19,Wheels on the Bus[44],Cocomelon – Nursery Rhymes,"May 24, 2018",3.08
19,20,Faded[45],Alan Walker,"December 3, 2015",3.08
20,21,Shake It Off[46],Taylor Swift,"August 18, 2014",3.07
21,22,Lean On[47],Major Lazer,"March 22, 2015",3.05
22,23,Girls Like You[48],Maroon 5,"May 31, 2018",3.05
23,24,Bailando[49],Enrique Iglesias,"April 11, 2014",3.05
24,25,Let Her Go[50],Passenger,"July 25, 2012",3.01
25,26,Mi Gente[51],J Balvin,"June 29, 2017",2.93
26,27,Perfect[52],Ed Sheeran,"November 9, 2017",2.87
27,28,Waka Waka (This Time for Africa)[53],Shakira,"June 4, 2010",2.85
28,29,Hello[54],Adele,"October 22, 2015",2.85
29,30,Axel F[55],Crazy Frog,"June 16, 2009",2.84

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.bcci.tv/')
driver.maximize_window()
#search_loc = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
#Used web driver wait option to handle timeout error
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]'))).click()
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a'))).click()

In [10]:
match_title = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
Match_title=[]
for i in match_title:
    if i.text is None:
        Match_title.append("--")
    else:
        Match_title.append(i.text)

In [11]:
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
Series=[]
for i in series:
    if i.text is None:
        Series.append("--")
    else:
        Series.append(i.text)

In [12]:
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
Place=[]
for i in place:
    if i.text is None:
        Place.append("--")
    else:
        Place.append(i.text)

In [13]:
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
Date=[]
for i in date:
    if i.text is None:
        Date.append("--")
    else:
        Date.append(i.text)

In [14]:
month = driver.find_elements_by_xpath("//span[@class='fixture__month']")
Month=[]
for i in month:
    if i.text is None:
        Month.append("--")
    else:
        Month.append(i.text)

In [15]:
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
Time=[]
for i in time:
    if i.text is None:
        Time.append("--")
    else:
        Time.append(i.text)

In [16]:
BCCI=pd.DataFrame({})
BCCI['Match_title']=Match_title
BCCI['Series']=Series
BCCI['Place']=Place
BCCI['Full_date']=Date
BCCI['Time']=Time
BCCI['Month']=Month
BCCI

,Match_title,Series,Place,Full_date,Time,Month
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18,15:00 IST,JUNE
1,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13,14:30 IST,JULY
2,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16,14:30 IST,JULY
3,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18,14:30 IST,JULY
4,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21,19:00 IST,JULY
5,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23,19:00 IST,JULY
6,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25,19:00 IST,JULY
7,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,15:30 IST,AUGUST
8,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,15:30 IST,AUGUST
9,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,15:30 IST,AUGUST
10,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,15:30 IST,SEPTEMBER
11,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,15:30 IST,SEPTEMBER

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [17]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.guru99.com/')
driver.maximize_window()
search_loc= driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']").click()
search_loc1=driver.find_element_by_xpath("//input[@class='gsc-input']")
search_loc1.send_keys('selenium exception handling',Keys.ENTER)

In [18]:
search_loc2 = driver.find_element_by_xpath('//div[@class="gsc-webResult gsc-result"]/div/div/div/a/b').click()

In [19]:
#switching to new tab and changing focus to new tab
driver.switch_to.window(driver.window_handles[1])
Exception =driver.find_elements_by_xpath("//main[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
Exception_Name=[]
for i in Exception:
    if i.text is None:
        Exception_Name.append("--")
    else:
        Exception_Name.append(i.text)

In [20]:
description =driver.find_elements_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]')
Description=[]
for i in description:
    if i.text is None:
        Description.append("--")
    else:
        Description.append(i.text)

In [21]:
Selenium_exceptions=pd.DataFrame({})
Selenium_exceptions['EXCEPTION_NAME']=Exception_Name
Selenium_exceptions['DESCRIPTION']=Description
Selenium_exceptions

,EXCEPTION_NAME,DESCRIPTION
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [22]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('http://statisticstimes.com/')
driver.maximize_window()
#search_loc= driver.find_element_by_xpath("//button[@class='dropbtn']").click()
#search_loc2 = driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[3]').click()
#search_loc2 = WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/button'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a'))).click()

In [23]:
Rank=[]
rank = driver.find_elements_by_xpath("//td[@class='data1']")[0:33]
for i in rank:
    if i.text is None:
        Rank.append("--")
    else:
        Rank.append(i.text)

In [24]:
State=[]
state = driver.find_elements_by_xpath("//td[@class='name']")[0:33]
for i in state:
    if i.text is None:
        State.append("--")
    else:
        State.append(i.text)

In [25]:
GSDP_19_20=[]
gsdp = driver.find_elements_by_xpath("//td[3][@class='data']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_19_20.append("--")
    else:
        GSDP_19_20.append(i.text)

In [26]:
GSDP_18_19=[]
gsdp = driver.find_elements_by_xpath("//td[@class='data sorting_1']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_18_19.append("--")
    else:
        GSDP_18_19.append(i.text)

In [27]:
SHARE=[]
share = driver.find_elements_by_xpath("//td[5][@class='data']")[0:33]
for i in share:
    if i.text is None:
        SHARE.append("--")
    else:
        SHARE.append(i.text)

In [28]:
GDP_billondollar=[]
gdp = driver.find_elements_by_xpath("//td[6][@class='data']")[0:33]
for i in gdp:
    if i.text is None:
        GDP_billondollar.append("--")
    else:
        GDP_billondollar.append(i.text)

In [29]:
statewise_gdp=pd.DataFrame({})
statewise_gdp['RANK']=Rank
statewise_gdp['STATE']=State
statewise_gdp['GSDP_19_20']=GSDP_19_20
statewise_gdp['GSDP_18_19']=GSDP_18_19
statewise_gdp['SHARE']=SHARE
statewise_gdp['GDP_BILLION$']=GDP_billondollar
statewise_gdp

   RANK                      STATE GSDP_19_20 GSDP_18_19   SHARE GDP_BILLION$
0     1                Maharashtra          -  2,632,792  13.94%      399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%      247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%      240.726
3     4                    Gujarat          -  1,502,899   7.96%      228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%      226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%      165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%      143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%      131.083
8     9                  Telangana    969,604    861,031   4.56%      130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%      122.977
10   11                     Kerala          -    781,653   4.14%      118.733
11   12                      Delhi    856,112    774,870   4.10%      117.703
12   13                    Haryana    831,610    734,163   3.89%      111.519
13   14                      Bihar    611,804    530,363   2.81%       80.562
14   15                     Punjab    574,760    526,376   2.79%       79.957
15   16                     Odisha    521,275    487,805   2.58%       74.098
16   17                      Assam          -    315,881   1.67%       47.982
17   18               Chhattisgarh    329,180    304,063   1.61%       46.187
18   19                  Jharkhand    328,598    297,204   1.57%       45.145
19   20                Uttarakhand          -    245,895   1.30%       37.351
20   21            Jammu & Kashmir          -    155,956   0.83%       23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%       23.369
22   23                        Goa     80,449     73,170   0.39%       11.115
23   24                    Tripura     55,984     49,845   0.26%        7.571
24   25                 Chandigarh          -     42,114   0.22%        6.397
25   26                 Puducherry     38,253     34,433   0.18%        5.230
26   27                  Meghalaya     36,572     33,481   0.18%        5.086
27   28                     Sikkim     32,496     28,723   0.15%        4.363
28   29                    Manipur     31,790     27,870   0.15%        4.233
29   30                   Nagaland          -     27,283   0.14%        4.144
30   31          Arunachal Pradesh          -     24,603   0.13%        3.737
31   32                    Mizoram     26,503     22,287   0.12%        3.385
32   33  Andaman & Nicobar Islands          -          -       -            -

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [30]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://github.com/')
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a'))).click()
#driver.maximize_window()

In [31]:
#Obtaining urls
urls=[]
for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a'):
    urls.append(i.get_attribute("href"))

In [32]:
Title=[]
Description=[]
contributer_count=[]
Language_used=[]
#scrapping data
for i in urls:
    driver.get(i)
    
    #Title
    try:
        title=driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center break-word f3 text-normal"]')
        Title.append(title.text.replace('\n',' '))
    except NoSuchElementException:
        Title.append('-')
        
    #Description
    try:
        description=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('-')
        
    #Contributors count
    try:
        count=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contributer_count.append(count.text)
    except NoSuchElementException:
        contributer_count.append('-')
    #Language used
    try:
        lang=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[6]/div/ul/li/a/span[1]')
        Language_used.append(lang.text.replace('\n',' '))
    except NoSuchElementException:
        Language_used.append('-')
        
print(len(Title),len(Description),len(contributer_count),len(Language_used))

25 25 25 25

In [33]:
Github_repository=pd.DataFrame({})
Github_repository['Repository_Title']=Title
Github_repository['Repository_Description']=Description
Github_repository['Contributer_Count']=contributer_count
Github_repository['Language_Used']=Language_used
Github_repository

,Repository_Title,Repository_Description,Contributer_Count,Language_Used
0,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,-,-
1,AkashSingh3031 / The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,20,Jupyter Notebook
2,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,-,-
3,n8n-io / n8n,Free and open fair-code licensed node based Wo...,174,TypeScript
4,facebookresearch / AugLy,"A data augmentations library for audio, image,...",5,Python
5,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,-,-
6,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,3,Dart
7,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,-,-
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",-,-
9,rustdesk / rustdesk,Yet another remote desktop software,-,-
10,algorithm-visualizer / algorithm-visualizer,🎆Interactive Online Platform that Visualizes A...,-,-
11,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,141,-
12,megaease / easegress,A Cloud Native traffic orchestration system,14,Go
13,TheBobPony / getwindows11.tech,For the website,-,-
14,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,-,-
15,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,-,-
16,programthink / opensource,【编程随想】收藏的开源项目清单,3,-
17,facebookresearch / xcit,Official code Cross-Covariance Image Transform...,-,-
18,githubdev03 / RDP,-,4,Batchfile
19,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,177,JavaScript
20,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,-,-
21,v2fly / v2ray-core,A platform for building proxies to bypass netw...,-,-
22,nothings / stb,stb single-file public domain libraries for C/C++,174,C
23,mltframework / shotcut,"cross-platform (Qt), open-source (GPLv3) video...",42,C++
24,flutter / flutter,Flutter makes it easy and fast to build beauti...,-,-

# 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.billboard.com/')
driver.maximize_window()
search_loc1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a").click()
search_loc1 = driver.find_element_by_xpath("/html/body/main/div[6]/div/div[2]/div[2]/a[1]/div/div[1]").click()

In [35]:
Song=[]
song = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    if i.text is None:
        Song.append("--")
    else:
        Song.append(i.text)

In [36]:
Artist=[]
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    if i.text is None:
        Artist.append("--")
    else:
        Artist.append(i.text)

In [37]:
lastweek_rank=[]
lw_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lw_rank:
    if i.text is None:
        lastweek_rank.append("--")
    else:
        lastweek_rank.append(i.text)

In [38]:
peak_rank=[]
p_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in p_rank:
    if i.text is None:
        peak_rank.append("--")
    else:
        peak_rank.append(i.text)

In [39]:
weeks_on_board=[]
weeks = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
        weeks_on_board.append("--")
    else:
        weeks_on_board.append(i.text)

In [40]:
Billboard=pd.DataFrame({})
Billboard['SONG_NAME']=Song
Billboard['ARTIST_NAME']=Artist
Billboard['LAST_WEEK_RANK']=lastweek_rank
Billboard['PEAK_RANK']=peak_rank
Billboard['WEEKS_ON_BOARD']=weeks_on_board
Billboard

,SONG_NAME,ARTIST_NAME,LAST_WEEK_RANK,PEAK_RANK,WEEKS_ON_BOARD
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [41]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.naukri.com/')
driver.maximize_window()
search_product = driver.find_element_by_xpath("//html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div").click()
#switching to new tab
driver.switch_to.window(driver.window_handles[1])

search_product1 = WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="skill"]/div[1]/div[2]/input')))
search_product1.send_keys('Data Science')
search_loc1 = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [42]:
Name=[]
name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    if i.text is None:
        Name.append("--")
    else:
        Name.append(i.text)

In [43]:
Designation=[]
designation = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in designation:
    if i.text is None:
        Designation.append("--")
    else:
        Designation.append(i.text)

In [44]:
Company=[]
comp = driver.find_elements_by_xpath("//a[2][@class='ellipsis']")
for i in comp:
    if i.text is None:
        Company.append("--")
    else:
        Company.append(i.text)

In [45]:
Skills=[]
skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    if i.text is None:
        Skills.append("--")
    else:
        Skills.append(i.text)

In [46]:
Location=[]
url=[]
loc_urls=driver.find_elements_by_xpath("//a[@class='ellipsis'][1]")
for i in loc_urls:
    url.append(i.get_attribute("href"))
    
for i in url:
    driver.get(i)

    try:
        loc=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('-')

In [47]:
len(Name),len(Designation),len(Skills),len(Location),len(Company)

(50, 50, 50, 50, 50)

In [48]:
Naukari_data=pd.DataFrame({})
Naukari_data['NAME']=Name
Naukari_data['DESIGNATION']=Designation
Naukari_data['SKILL']=Skills
Naukari_data['LOCATION']=Location
Naukari_data['COMPANY']=Company
Naukari_data

,NAME,DESIGNATION,SKILL,LOCATION,COMPANY
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi,Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad,Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune,MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad,Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london),LibraryXProject
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda,Apidel Technologies Division of Transpower
6,Institute for Financial Management and Resear,Programme Manager,Data Science,Chennai,IFMR
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum,Techvantage Systems Pvt Ltd
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Indore,Weupskill- Live Wire India
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore,CBL Data Science Private Limited
10,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad,Innominds Software
11,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore,MoneyTap
12,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",Mumbai,QuantMagnum Technologies Pvt. Ltd.
13,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune,Bristlecone India Ltd
14,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad,SocialPrachar.com
15,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal,BISP Solutions
16,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai,Easi Tax
17,Riya Rajesh,Manager Talent Acquisition,Data Science,Cochin,Novelworx Digital Solutions
18,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
19,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad,FirstTech Consaltants Pvt.Ltd
20,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune,Affine Analytics
21,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune,NEAL ANALYTICS SERVICES PVT LTD
22,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune,Compumatrice Multimedia Pvt Ltd
23,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune,Exela Technologies
24,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore,Autumn Leaf Consulting Services Private...
25,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore,trainin
26,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",Others,Nanoprecise Sci Corp
27,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",Delhi,R.S Consultancy &amp; Services
28,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore,Independent Consultant
29,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore,Confidential
30,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore,"Dollarbird Information Services Pvt, Ltd"
31,Radha Manivasagam,HR Executive,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore,Techcovery
32,Prateek Kumar,Head,"Java, Python, Angularjs, Software Testing, Mac...",Noida,Trisect
33,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",New Delhi,ASCO consulting
34,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai,NY INST
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Aligarh,3D India Staffing Research &amp; Consulting...
36,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",Salt Lake City,O.C. Tanner
37,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Pune,Demand Matrix
38,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",Bengaluru / Bangalore,MADHUSUDHAN SRIDHAR
39,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai,Suntech Global
40,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Indore,Strategic Consulting Lab
41,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore,Impel Labs Pvt. Ltd.
42,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MYSORE,MRP Advisers
43,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad,Saras Solutions India Pvt Ltd
44,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore,WildJasmine
45,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,...",Mumbai,LNT Private Limited
46,Amir Chowdhury,Managing Partner,"Machine Learning, Data Science, Product Manage...",,Granular.ai
47,Shailja Mishra,HR Manager,"consulting, Education Counseling, Educational ...",Noida,Certybox Pvt.Ltd.
48,Sunny Sharma,Managing Director - HR,"Software Professionals, Engineering, Technical...",Mumbai,Western Service Providers
49,Sagar Lama,Company HR Manager,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore,AdView

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [49]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()

Book_name=[]
book = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in book:
    if i.text is None:
        Book_name.append("--")
    else:
        Book_name.append(i.text)

Author=[]
author = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in author:
    if i.text is None:
        Author.append("--")
    else:
        Author.append(i.text)

Volume_sales=[]
sales = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in sales:
    if i.text is None:
        Volume_sales.append("--")
    else:
        Volume_sales.append(i.text)

Publisher=[]
pub = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in pub:
    if i.text is None:
        Publisher.append("--")
    else:
        Publisher.append(i.text)
        
Genre=[]
gen = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in gen:
    if i.text is None:
        Genre.append("--")
    else:
        Genre.append(i.text)

In [50]:
Book_detais=pd.DataFrame({})
Book_detais['BOOK_NAME']=Book_name
Book_detais['AUTHOR']=Author
Book_detais['VOLUME_SALES']=Volume_sales
Book_detais['PUBLISHER']=Publisher
Book_detais['GENRE']=Genre
Book_detais

,BOOK_NAME,AUTHOR,VOLUME_SALES,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [51]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

Name=[]
name = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    if i.text is None:
        Name.append("--")
    else:
        Name.append(i.text)
        
Year_span=[]
year = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in year:
    if i.text is None:
        Year_span.append("--")
    else:
        Year_span.append(i.text)
        
TV_genre=[]
tvgenre = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in tvgenre:
    if i.text is None:
        TV_genre.append("--")
    else:
        TV_genre.append(i.text)

Runtime=[]
runtime = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in runtime:
    if i.text is None:
        Runtime.append("--")
    else:
        Runtime.append(i.text)

Rating=[]
rating = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in rating:
    if i.text is None:
        Rating.append("--")
    else:
        Rating.append(i.text)

Votes=[]
votes = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in votes:
    if i.text is None:
        Votes.append("--")
    else:
        Votes.append(i.text)

In [52]:
TV_SHOWS=pd.DataFrame({})
TV_SHOWS['TV_SHOW_NAME']=Name
TV_SHOWS['YEAR_SPAN']=Year_span
TV_SHOWS['TV_GENRE']=TV_genre
TV_SHOWS['RUNTIME']=Runtime
TV_SHOWS['RATING']=Rating
TV_SHOWS['VOTES']=Votes
TV_SHOWS

,TV_SHOW_NAME,YEAR_SPAN,TV_GENRE,RUNTIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,825,187"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"865,243"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"875,169"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,933"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,330"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,602"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,114"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"168,048"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,923"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,758"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [53]:
driver=webdriver.Chrome(r"C:\Users\jeeves training\chromedriver.exe")
driver.get('https://archive.ics.uci.edu/ml/index.php')
driver.maximize_window()
#loc = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a").click()
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a'))).click()

Dataset=[]
dataset = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in dataset:
    if i.text is None:
        Dataset.append("--")
    else:
        Dataset.append(i.text)

Datatype=[]
datatype = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in datatype:
    if i.text != 'Data Types':
        Datatype.append(i.text)

In [54]:
Default_task=[]
task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in task:
    if i.text != 'Default Task':
        Default_task.append(i.text)

In [55]:
Attribute_type=[]
attribute = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attribute:
    if i.text != 'Attribute Types':
        Attribute_type.append(i.text)

In [56]:
Number_of_instance=[]
instance = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in instance:
    if i.text != '# Instances':
        Number_of_instance.append(i.text)

In [57]:
Number_of_attributes=[]
att = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in att:
    if i.text != '# Attributes':
        Number_of_attributes.append(i.text)

In [58]:
Year=[]
year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    if i.text != 'Year':
        Year.append(i.text)

In [59]:
DATA_SET=pd.DataFrame({})
DATA_SET['DATASET']=Dataset
DATA_SET['DATATYPE']=Datatype
DATA_SET['DEFAULT_TASK']=Default_task
DATA_SET['ATTRIBUTE_TYPE']=Attribute_type
DATA_SET['NUMBER_OF_INSTANCE']=Number_of_instance
DATA_SET['NUMBER_OF_ATTRIBUTES']=Number_of_attributes
DATA_SET['YEAR']=Year
DATA_SET

,DATASET,DATATYPE,DEFAULT_TASK,ATTRIBUTE_TYPE,NUMBER_OF_INSTANCE,NUMBER_OF_ATTRIBUTES,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021